# NLP: Tokenization and Vectorization
Author: **[Carl McBride Ellis](https://u-tad.com/claustro/carl-mcbride-ellis/)**

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
document = """
           A very simple tokenizer with REGEX; we simply
           extract the words as they are using REGEX,
           which then become the 'tokens'.
           """

### Tokenization using `re`
Extract the individual words from a document using REGEX

In [3]:
import re

document = document.lower() # everything to lower case
tokenizer = lambda x: re.findall(r'[^\W]+', x)
tokens = tokenizer(document)
tokens

['a',
 'very',
 'simple',
 'tokenizer',
 'with',
 'regex',
 'we',
 'simply',
 'extract',
 'the',
 'words',
 'as',
 'they',
 'are',
 'using',
 'regex',
 'which',
 'then',
 'become',
 'the',
 'tokens']

## Vectorization "by hand"

In [4]:
# count how many times we see a given word

def word_counter(words):
    word_count = {}
    for word in (sorted(words)):
        word_count[word] = word_count.get(word, 0) + 1
    return word_count

word_count = word_counter(tokens)
word_count

{'a': 1,
 'are': 1,
 'as': 1,
 'become': 1,
 'extract': 1,
 'regex': 2,
 'simple': 1,
 'simply': 1,
 'the': 2,
 'then': 1,
 'they': 1,
 'tokenizer': 1,
 'tokens': 1,
 'using': 1,
 'very': 1,
 'we': 1,
 'which': 1,
 'with': 1,
 'words': 1}

Here is our vector:

In [5]:
pd.DataFrame([word_count])

,a,are,as,become,extract,regex,simple,simply,the,then,they,tokenizer,tokens,using,very,we,which,with,words
0,1,1,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,1,1

## Vectorization using SciKit [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [6]:
corpus = ["Hello World!",
          "That was my Hello World with no REGEX",
          "This now has world + another hello world",
          "Spaceship world"
         ]

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
count_matrix = vectorizer.fit_transform(corpus)
count_array  = count_matrix.toarray()
pd.DataFrame(data = count_array,
             columns = vectorizer.get_feature_names_out())

,another,has,hello,my,no,now,regex,spaceship,that,this,was,with,world
0,0,0,1,0,0,0,0,0,0,0,0,0,1
1,0,0,1,1,1,0,1,0,1,0,1,1,1
2,1,1,1,0,0,1,0,0,0,1,0,0,2
3,0,0,0,0,0,0,0,1,0,0,0,0,1

### now with the bigrams as well

In [8]:
vectorizer_2 = CountVectorizer(analyzer='word', ngram_range=(1, 2))

count_matrix = vectorizer_2.fit_transform(corpus)
count_array  = count_matrix.toarray()
vectorizer_2.get_feature_names_out()

array(['another', 'another hello', 'has', 'has world', 'hello',
       'hello world', 'my', 'my hello', 'no', 'no regex', 'now',
       'now has', 'regex', 'spaceship', 'spaceship world', 'that',
       'that was', 'this', 'this now', 'was', 'was my', 'with', 'with no',
       'world', 'world another', 'world with'], dtype=object)

In [9]:
pd.DataFrame(data = count_array,
             columns = vectorizer_2.get_feature_names_out())

,another,another hello,has,has world,hello,hello world,my,my hello,no,no regex,now,now has,regex,spaceship,spaceship world,that,that was,this,this now,was,was my,with,with no,world,world another,world with
0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,1,1,1,1,1,1,0,0,1,0,0,1,1,0,0,1,1,1,1,1,0,1
2,1,1,1,1,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,0,2,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0

## Vectorization using SciKit [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html)
This applies [term frequencyâ€“inverse document frequency](https://en.wikipedia.org/wiki/Tf%E2%80%93idf) (tf-idf) to the `CountVectorizer` output.

In [10]:
# corpus = ["Hello World!",
#           "That was my Hello World",
#           "This now has world + another hello world",
#           "Spaceship world"
#          ]

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(smooth_idf=False, norm=None)

count_matrix = vectorizer.fit_transform(corpus)
count_array  = count_matrix.toarray()
pd.DataFrame(data = count_array,
             columns = vectorizer.get_feature_names_out())

,another,has,hello,my,no,now,regex,spaceship,that,this,was,with,world
0,0.000000,0.000000,1.287682,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
1,0.000000,0.000000,1.287682,2.386294,2.386294,0.000000,2.386294,0.000000,2.386294,0.000000,2.386294,2.386294,1.0
2,2.386294,2.386294,1.287682,0.000000,0.000000,2.386294,0.000000,0.000000,0.000000,2.386294,0.000000,0.000000,2.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.386294,0.000000,0.000000,0.000000,0.000000,1.0

### now with the bigrams as well

In [12]:
vectorizer = TfidfVectorizer(smooth_idf=False, norm=None, ngram_range=(1, 2))

count_matrix = vectorizer.fit_transform(corpus)
count_array  = count_matrix.toarray()
pd.DataFrame(data = count_array,
             columns = vectorizer.get_feature_names_out())

,another,another hello,has,has world,hello,hello world,my,my hello,no,no regex,now,now has,regex,spaceship,spaceship world,that,that was,this,this now,was,was my,with,with no,world,world another,world with
0,0.000000,0.000000,0.000000,0.000000,1.287682,1.287682,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,1.287682,1.287682,2.386294,2.386294,2.386294,2.386294,0.000000,0.000000,2.386294,0.000000,0.000000,2.386294,2.386294,0.000000,0.000000,2.386294,2.386294,2.386294,2.386294,1.0,0.000000,2.386294
2,2.386294,2.386294,2.386294,2.386294,1.287682,1.287682,0.000000,0.000000,0.000000,0.000000,2.386294,2.386294,0.000000,0.000000,0.000000,0.000000,0.000000,2.386294,2.386294,0.000000,0.000000,0.000000,0.000000,2.0,2.386294,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.386294,2.386294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000

## Keras [TextVectorization](https://keras.io/api/layers/preprocessing_layers/text/text_vectorization/) for use in a neural network "embedding" layer
See also [KerasNLP Tokenizers](https://keras.io/api/keras_nlp/tokenizers/)

In [13]:
from keras.layers import TextVectorization

vectorize_layer = TextVectorization(
    max_tokens=100,
    output_mode='int',
    output_sequence_length=50)

vectorize_layer.adapt(corpus)
input_data = corpus
vectorize_layer(input_data)

<tf.Tensor: shape=(4, 50), dtype=int64, numpy=
array([[ 3,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 7,  5, 12,  3,  2,  4, 11,  9,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 6, 10, 13,  2, 14,  3,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 8,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0]])>

In [14]:
vectorize_layer.get_vocabulary()

['',
 '[UNK]',
 np.str_('world'),
 np.str_('hello'),
 np.str_('with'),
 np.str_('was'),
 np.str_('this'),
 np.str_('that'),
 np.str_('spaceship'),
 np.str_('regex'),
 np.str_('now'),
 np.str_('no'),
 np.str_('my'),
 np.str_('has'),
 np.str_('another')]

# Using [NLTK](https://www.nltk.org/) (the Natural Language Toolkit)

In [15]:
import nltk
nltk.download('punkt_tab');

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

### tokenization

In [16]:
nltk.word_tokenize(corpus[1])

['That', 'was', 'my', 'Hello', 'World', 'with', 'no', 'REGEX']

## `stopwords`

In [17]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [18]:
print(sorted(stopwords.words('english')))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", "he's", 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', "i'd", "i'll", "i'm", "i've", 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', "should've", 'shouldn', "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", "we've", 'were', 'weren', "weren't", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']

## Remove any stopwords from our document

In [19]:
stop_words = stopwords.words('english')

new_tokens = [word for word in tokens if not word in stop_words]
new_tokens

['simple',
 'tokenizer',
 'regex',
 'simply',
 'extract',
 'words',
 'using',
 'regex',
 'become',
 'tokens']

there are other languages in NLTK

In [20]:
stopwords.fileids()

['albanian',
 'arabic',
 'azerbaijani',
 'basque',
 'belarusian',
 'bengali',
 'catalan',
 'chinese',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'greek',
 'hebrew',
 'hinglish',
 'hungarian',
 'indonesian',
 'italian',
 'kazakh',
 'nepali',
 'norwegian',
 'portuguese',
 'romanian',
 'russian',
 'slovene',
 'spanish',
 'swedish',
 'tajik',
 'tamil',
 'turkish',
 'uzbek']

In [21]:
print(sorted(stopwords.words('spanish')))

['a', 'al', 'algo', 'algunas', 'algunos', 'ante', 'antes', 'como', 'con', 'contra', 'cual', 'cuando', 'de', 'del', 'desde', 'donde', 'durante', 'e', 'el', 'ella', 'ellas', 'ellos', 'en', 'entre', 'era', 'erais', 'eran', 'eras', 'eres', 'es', 'esa', 'esas', 'ese', 'eso', 'esos', 'esta', 'estaba', 'estabais', 'estaban', 'estabas', 'estad', 'estada', 'estadas', 'estado', 'estados', 'estamos', 'estando', 'estar', 'estaremos', 'estarÃ¡', 'estarÃ¡n', 'estarÃ¡s', 'estarÃ©', 'estarÃ©is', 'estarÃ­a', 'estarÃ­ais', 'estarÃ­amos', 'estarÃ­an', 'estarÃ­as', 'estas', 'este', 'estemos', 'esto', 'estos', 'estoy', 'estuve', 'estuviera', 'estuvierais', 'estuvieran', 'estuvieras', 'estuvieron', 'estuviese', 'estuvieseis', 'estuviesen', 'estuvieses', 'estuvimos', 'estuviste', 'estuvisteis', 'estuviÃ©ramos', 'estuviÃ©semos', 'estuvo', 'estÃ¡', 'estÃ¡bamos', 'estÃ¡is', 'estÃ¡n', 'estÃ¡s', 'estÃ©', 'estÃ©is', 'estÃ©n', 'estÃ©s', 'fue', 'fuera', 'fuerais', 'fueran', 'fueras', 'fueron', 'fuese', 'fueseis', 'fuesen', 'fueses', 'fui', 'fuimos', 'fuiste', 'fuisteis', 'fuÃ©ramos', 'fuÃ©semos', 'ha', 'habida', 'habidas', 'habido', 'habidos', 'habiendo', 'habremos', 'habrÃ¡', 'habrÃ¡n', 'habrÃ¡s', 'habrÃ©', 'habrÃ©is', 'habrÃ­a', 'habrÃ­ais', 'habrÃ­amos', 'habrÃ­an', 'habrÃ­as', 'habÃ©is', 'habÃ­a', 'habÃ­ais', 'habÃ­amos', 'habÃ­an', 'habÃ­as', 'han', 'has', 'hasta', 'hay', 'haya', 'hayamos', 'hayan', 'hayas', 'hayÃ¡is', 'he', 'hemos', 'hube', 'hubiera', 'hubierais', 'hubieran', 'hubieras', 'hubieron', 'hubiese', 'hubieseis', 'hubiesen', 'hubieses', 'hubimos', 'hubiste', 'hubisteis', 'hubiÃ©ramos', 'hubiÃ©semos', 'hubo', 'la', 'las', 'le', 'les', 'lo', 'los', 'me', 'mi', 'mis', 'mucho', 'muchos', 'muy', 'mÃ¡s', 'mÃ­', 'mÃ­a', 'mÃ­as', 'mÃ­o', 'mÃ­os', 'nada', 'ni', 'no', 'nos', 'nosotras', 'nosotros', 'nuestra', 'nuestras', 'nuestro', 'nuestros', 'o', 'os', 'otra', 'otras', 'otro', 'otros', 'para', 'pero', 'poco', 'por', 'porque', 'que', 'quien', 'quienes', 'quÃ©', 'se', 'sea', 'seamos', 'sean', 'seas', 'sentid', 'sentida', 'sentidas', 'sentido', 'sentidos', 'seremos', 'serÃ¡', 'serÃ¡n', 'serÃ¡s', 'serÃ©', 'serÃ©is', 'serÃ­a', 'serÃ­ais', 'serÃ­amos', 'serÃ­an', 'serÃ­as', 'seÃ¡is', 'siente', 'sin', 'sintiendo', 'sobre', 'sois', 'somos', 'son', 'soy', 'su', 'sus', 'suya', 'suyas', 'suyo', 'suyos', 'sÃ­', 'tambiÃ©n', 'tanto', 'te', 'tendremos', 'tendrÃ¡', 'tendrÃ¡n', 'tendrÃ¡s', 'tendrÃ©', 'tendrÃ©is', 'tendrÃ­a', 'tendrÃ­ais', 'tendrÃ­amos', 'tendrÃ­an', 'tendrÃ­as', 'tened', 'tenemos', 'tenga', 'tengamos', 'tengan', 'tengas', 'tengo', 'tengÃ¡is', 'tenida', 'tenidas', 'tenido', 'tenidos', 'teniendo', 'tenÃ©is', 'tenÃ­a', 'tenÃ­ais', 'tenÃ­amos', 'tenÃ­an', 'tenÃ­as', 'ti', 'tiene', 'tienen', 'tienes', 'todo', 'todos', 'tu', 'tus', 'tuve', 'tuviera', 'tuvierais', 'tuvieran', 'tuvieras', 'tuvieron', 'tuviese', 'tuvieseis', 'tuviesen', 'tuvieses', 'tuvimos', 'tuviste', 'tuvisteis', 'tuviÃ©ramos', 'tuviÃ©semos', 'tuvo', 'tuya', 'tuyas', 'tuyo', 'tuyos', 'tÃº', 'un', 'una', 'uno', 'unos', 'vosotras', 'vosotros', 'vuestra', 'vuestras', 'vuestro', 'vuestros', 'y', 'ya', 'yo', 'Ã©l', 'Ã©ramos']

In [22]:
print(sorted(stopwords.words('tamil')))

['à®…à®™à¯à®•à¯', 'à®…à®™à¯à®•à¯‡', 'à®…à®Ÿà¯à®¤à¯à®¤', 'à®…à®¤à®©à®¾à®²à¯', 'à®…à®¤à®©à¯', 'à®…à®¤à®±à¯à®•à¯', 'à®…à®¤à®¿à®•', 'à®…à®¤à®¿à®²à¯', 'à®…à®¤à¯', 'à®…à®¤à¯‡', 'à®…à®¤à¯ˆ', 'à®…à®¨à¯à®¤', 'à®…à®¨à¯à®¤à®•à¯', 'à®…à®¨à¯à®¤à®ªà¯', 'à®…à®©à¯à®±à¯', 'à®…à®²à¯à®²à®¤à¯', 'à®…à®µà®©à¯', 'à®…à®µà®°à®¤à¯', 'à®…à®µà®°à¯', 'à®…à®µà®°à¯à®•à®³à¯', 'à®…à®µà®³à¯', 'à®…à®µà¯ˆ', 'à®†à®•à®¿à®¯', 'à®†à®•à®¿à®¯à¯‹à®°à¯', 'à®†à®•à¯à®®à¯', 'à®‡à®™à¯à®•à¯', 'à®‡à®™à¯à®•à¯‡', 'à®‡à®Ÿà®¤à¯à®¤à®¿à®²à¯', 'à®‡à®Ÿà®®à¯', 'à®‡à®¤à®©à®¾à®²à¯', 'à®‡à®¤à®©à¯ˆ', 'à®‡à®¤à®©à¯', 'à®‡à®¤à®±à¯à®•à¯', 'à®‡à®¤à®¿à®²à¯', 'à®‡à®¤à¯', 'à®‡à®¤à¯ˆ', 'à®‡à®¨à¯à®¤', 'à®‡à®¨à¯à®¤à®•à¯', 'à®‡à®¨à¯à®¤à®¤à¯', 'à®‡à®¨à¯à®¤à®ªà¯', 'à®‡à®©à¯à®©à¯à®®à¯', 'à®‡à®ªà¯à®ªà¯‹à®¤à¯', 'à®‡à®°à¯', 'à®‡à®°à¯à®•à¯à®•à¯à®®à¯', 'à®‡à®°à¯à®¨à¯à®¤', 'à®‡à®°à¯à®¨à¯à®¤à®¤à¯', 'à®‡à®°à¯à®¨à¯à®¤à¯', 'à®‡à®µà®°à¯', 'à®‡à®µà¯ˆ', 'à®‰à®©à¯', 'à®‰à®³à¯à®³', 'à®‰à®³à¯à®³à®¤à¯', 'à®‰à®³à¯à®³à®©', 'à®Žà®¨à¯à®¤', 'à®Žà®©', 'à®Žà®©à®•à¯', 'à®Žà®©à®•à¯à®•à¯', 'à®Žà®©à®ªà¯à®ªà®Ÿà¯à®®à¯', 'à®Žà®©à®µà¯à®®à¯', 'à®Žà®©à®µà¯‡', 'à®Žà®©à®¿à®©à¯à®®à¯', 'à®Žà®©à¯à®®à¯', 'à®Žà®©à¯', 'à®Žà®©à¯à®©', 'à®Žà®©à¯à®©à¯à®®à¯', 'à®Žà®©à¯à®ªà®¤à¯', 'à®Žà®©à¯à®ªà®¤à¯ˆ', 'à®Žà®©à¯à®±', 'à®Žà®©à¯à®±à¯', 'à®Žà®©à¯à®±à¯à®®à¯', 'à®Žà®²à¯à®²à®¾à®®à¯', 'à®à®©à¯', 'à®’à®°à¯', 'à®’à®°à¯‡', 'à®“à®°à¯', 'à®•à¯Šà®£à¯à®Ÿ', 'à®•à¯Šà®£à¯à®Ÿà¯', 'à®•à¯Šà®³à¯à®³', 'à®šà®±à¯à®±à¯', 'à®šà®¿à®±à¯', 'à®šà®¿à®²', 'à®šà¯‡à®°à¯à®¨à¯à®¤', 'à®¤à®©à®¤à¯', 'à®¤à®©à¯', 'à®¤à®µà®¿à®°', 'à®¤à®¾à®©à¯', 'à®¨à®¾à®©à¯', 'à®¨à®¾à®®à¯', 'à®¨à¯€', 'à®ªà®±à¯à®±à®¿', 'à®ªà®±à¯à®±à®¿à®¯', 'à®ªà®²', 'à®ªà®²à®°à¯à®®à¯', 'à®ªà®²à¯à®µà¯‡à®±à¯', 'à®ªà®¿à®©à¯', 'à®ªà®¿à®©à¯à®©à®°à¯', 'à®ªà®¿à®±', 'à®ªà®¿à®±à®•à¯', 'à®ªà¯†à®°à¯à®®à¯', 'à®ªà¯‡à®°à¯', 'à®ªà¯‹à®¤à¯', 'à®ªà¯‹à®©à¯à®±', 'à®ªà¯‹à®²', 'à®ªà¯‹à®²à¯', 'à®®à®Ÿà¯à®Ÿà¯à®®à¯‡', 'à®®à®Ÿà¯à®Ÿà¯à®®à¯', 'à®®à®±à¯à®±', 'à®®à®±à¯à®±à¯à®®à¯', 'à®®à®¿à®•', 'à®®à®¿à®•à®µà¯à®®à¯', 'à®®à¯€à®¤à¯', 'à®®à¯à®¤à®²à¯', 'à®®à¯à®±à¯ˆ', 'à®®à¯‡à®²à¯à®®à¯', 'à®®à¯‡à®²à¯', 'à®¯à®¾à®°à¯', 'à®µà®¨à¯à®¤', 'à®µà®¨à¯à®¤à¯', 'à®µà®°à¯à®®à¯', 'à®µà®°à¯ˆ', 'à®µà®°à¯ˆà®¯à®¿à®²à¯', 'à®µà®¿à®Ÿ', 'à®µà®¿à®Ÿà¯à®Ÿà¯', 'à®µà¯‡à®£à¯à®Ÿà¯à®®à¯', 'à®µà¯‡à®±à¯']

In [23]:
print(sorted(stopwords.words('hebrew')))

['××‘×œ', '××•', '××•×œ×™', '××•×ª×”', '××•×ª×”', '××•×ª×•', '××•×ª×•', '××•×ª×•', '××•×ª×™', '××•×ª×š', '××•×ª×', '××•×ª×Ÿ', '××•×ª× ×•', '××–', '××—×¨', '××—×¨', '××—×¨×•×ª', '××—×¨×™', '××—×¨×™', '××—×¨×™', '××—×¨×™×', '××—×¨×ª', '××™', '××™×–×”', '××™×š', '××™×Ÿ', '××™×Ÿ', '××™×¤×”', '××™×ª×”', '××™×ª×•', '××™×ª×™', '××™×ª×š', '××™×ª×›×', '××™×ª×›×Ÿ', '××™×ª×', '××™×ª×Ÿ', '××™×ª× ×•', '××š', '××š', '××œ', '××œ', '××œ×”', '××œ×”', '××œ×•', '××œ×•', '××', '××', '×× ×—× ×•', '×× ×™', '××¡', '××£', '××¦×œ', '××©×¨', '××©×¨', '××ª', '××ª', '××ª×”', '××ª×›×', '××ª×›×Ÿ', '××ª×', '××ª×Ÿ', '×‘××™×–×• ×ž×™×“×”', '×‘××ž×¦×¢', '×‘××ž×¦×¢×•×ª', '×‘×’×œ×œ', '×‘×™×Ÿ', '×‘×œ×™', '×‘×œ×™', '×‘×ž×™×“×”', '×‘×ž×§×•× ×©×‘×•', '×‘×¨×', '×‘×©×‘×™×œ', '×‘×©×¢×” ×©', '×‘×ª×•×š', '×’×', '×“×¨×š', '×”×•×', '×”×™×', '×”×™×”', '×”×™×›×Ÿ', '×”×™×ª×”', '×”×™×ª×™', '×”×', '×”×Ÿ', '×”× ×”', '×”×¡×™×‘×” ×©×‘×’×œ×œ×”', '×”×¨×™', '×•××™×œ×•', '×•××ª', '×–××ª', '×–×”', '×–×”', '×–×•×ª', '×™×”×™×”', '×™×•×›×œ', '×™×•×›×œ×•', '×™×•×ª×¨', '×™×›×•×œ', '×™×›×•×œ×”', '×™×›×•×œ×•×ª', '×™×›×•×œ×™×', '×™×›×œ', '×™×›×œ×”', '×™×›×œ×•', '×™×©', '×›××Ÿ', '×›××©×¨', '×›×•×œ×', '×›×•×œ×Ÿ', '×›×–×”', '×›×™', '×›×™×¦×“', '×›×š', '×›×›×”', '×›×œ', '×›×œ×œ', '×›×ž×•', '×›×ž×•', '×›×Ÿ', '×›×Ÿ', '×›×¤×™', '×›×©', '×œ×', '×œ××•', '×œ××™×–×• ×ª×›×œ×™×ª', '×œ××Ÿ', '×œ×‘×™×Ÿ', '×œ×”', '×œ×”×™×•×ª', '×œ×”×', '×œ×”×Ÿ', '×œ×•', '×œ×™', '×œ×›×', '×œ×›×Ÿ', '×œ×›×Ÿ', '×œ×ž×”', '×œ×ž×˜×”', '×œ×ž×¢×œ×”', '×œ×ž×§×•× ×©×‘×•', '×œ×ž×¨×•×ª', '×œ×ž×¨×•×ª', '×œ× ×•', '×œ×¢×‘×¨', '×œ×¢×™×›×Ÿ', '×œ×¤×™×›×š', '×œ×¤× ×™', '×œ×¤× ×™', '×ž××“', '×ž××—×•×¨×™', '×ž××™×–×• ×¡×™×‘×”', '×ž××™×Ÿ', '×ž××™×¤×”', '×ž×‘×œ×™', '×ž×‘×¢×“', '×ž×“×•×¢', '×ž×“×™', '×ž×”', '×ž×”×™×›×Ÿ', '×ž×•×œ', '×ž×—×•×¥', '×ž×™', '×ž×›××Ÿ', '×ž×›×™×•×•×Ÿ', '×ž×œ×‘×“', '×ž×Ÿ', '×ž× ×™×Ÿ', '×ž×¡×•×’×œ', '×ž×¢×˜', '×ž×¢×˜×™×', '×ž×¢×œ', '×ž×¢×œ', '×ž×¦×“', '×ž×§×•× ×‘×•', '×ž×ª×—×ª', '×ž×ª×—×ª', '×ž×ª×™', '× ×’×“', '× ×’×¨', '× ×•', '×¢×“', '×¢×“', '×¢×–', '×¢×œ', '×¢×œ', '×¢×œ×™', '×¢×œ×™×”', '×¢×œ×™×”×', '×¢×œ×™×”×Ÿ', '×¢×œ×™×•', '×¢×œ×™×š', '×¢×œ×™×›×', '×¢×œ×™× ×•', '×¢×', '×¢×', '×¢×¦×ž×”', '×¢×¦×ž×”×', '×¢×¦×ž×”×Ÿ', '×¢×¦×ž×•', '×¢×¦×ž×™', '×¢×¦×ž×', '×¢×¦×ž×Ÿ', '×¢×¦×ž× ×•', '×¤×”', '×¨×§', '×¨×§', '×©×•×‘', '×©×•×‘', '×©×œ', '×©×œ×”', '×©×œ×”×', '×©×œ×”×Ÿ', '×©×œ×•', '×©×œ×™', '×©×œ×š', '×©×œ×›×', '×©×œ×›×Ÿ', '×©×œ× ×•', '×©×', '×ª×”×™×”', '×ª×—×ª']

In [24]:
print(sorted(stopwords.words('nepali')))

['à¤…à¤•à¥à¤¸à¤°', 'à¤…à¤—à¤¾à¤¡à¥€', 'à¤…à¤à¥ˆ', 'à¤…à¤¨à¥à¤¸à¤¾à¤°', 'à¤…à¤¨à¥à¤¤à¤°à¥à¤—à¤¤', 'à¤…à¤¨à¥à¤¯', 'à¤…à¤¨à¥à¤¯à¤¤à¥à¤°', 'à¤…à¤¨à¥à¤¯à¤¥à¤¾', 'à¤…à¤¬', 'à¤…à¤°à¥', 'à¤…à¤°à¥à¤²à¤¾à¤ˆ', 'à¤…à¤°à¥à¤•à¥‹', 'à¤…à¤°à¥à¤¥à¤¾à¤¤', 'à¤…à¤°à¥à¤¥à¤¾à¤¤à¥', 'à¤…à¤²à¤—', 'à¤†à¤', 'à¤†à¤œà¤•à¥‹', 'à¤†à¤¤à¥à¤®', 'à¤†à¤¦à¤¿', 'à¤†à¤«à¥‚', 'à¤†à¤«à¥‚à¤²à¤¾à¤ˆ', 'à¤†à¤«à¥à¤¨à¥ˆ', 'à¤†à¤«à¥à¤¨à¥‹', 'à¤†à¤¯à¥‹', 'à¤‰à¤¦à¤¾à¤¹à¤°à¤£', 'à¤‰à¤¨à¤•à¥‹', 'à¤‰à¤¨à¤²à¥‡', 'à¤‰à¤ª', 'à¤‰à¤¹à¤¾à¤²à¤¾à¤ˆ', 'à¤à¤‰à¤Ÿà¥ˆ', 'à¤à¤•', 'à¤à¤•à¤¦à¤®', 'à¤“à¤ ', 'à¤”à¤‚', 'à¤•à¤¤à¥ˆ', 'à¤•à¤® à¤¸à¥‡ à¤•à¤®', 'à¤•à¤¸à¤°à¥€', 'à¤•à¤¸à¥ˆ', 'à¤•à¤¸à¥ˆà¤²à¥‡', 'à¤•à¤¹à¤¾à¤à¤¬à¤¾à¤Ÿ', 'à¤•à¤¹à¤¿à¤²à¥‡à¤•à¤¾à¤¹à¥€à¤‚', 'à¤•à¤¾', 'à¤•à¤¾', 'à¤•à¤¿', 'à¤•à¤¿à¤¨', 'à¤•à¤¿à¤¨à¤­à¤¨à¥‡', 'à¤•à¥à¤¨à¥ˆ', 'à¤•à¥à¤°à¤¾', 'à¤•à¥ƒà¤ªà¤¯à¤¾', 'à¤•à¥‡', 'à¤•à¥‡à¤¹à¥€', 'à¤•à¥‹', 'à¤•à¥‹à¤¹à¥€', 'à¤•à¥à¤°à¤®à¤¶à¤ƒ', 'à¤—à¤', 'à¤—à¤¯à¥Œ', 'à¤—à¤°à¤¿', 'à¤—à¤°à¥€', 'à¤—à¤°à¥‡à¤•à¤¾', 'à¤—à¤°à¥‡à¤•à¥‹', 'à¤—à¤°à¥‡à¤°', 'à¤—à¤°à¥Œà¤‚', 'à¤—à¤°à¥à¤›', 'à¤—à¤°à¥à¤›à¥', 'à¤—à¤°à¥à¤¦à¥ˆ', 'à¤—à¤°à¥à¤¨', 'à¤—à¤°à¥à¤¨à¥', 'à¤—à¤°à¥à¤¨à¥à¤ªà¤°à¥à¤›', 'à¤—à¤°à¥à¤¨à¥‡', 'à¤—à¥ˆà¤°', 'à¤šà¤¾à¤°', 'à¤šà¤¾à¤²à¥‡', 'à¤šà¤¾à¤¹à¤¨à¥à¤¹à¥à¤¨à¥à¤›', 'à¤šà¤¾à¤¹à¤¨à¥à¤›à¥', 'à¤šà¤¾à¤¹à¤¿à¤', 'à¤›', 'à¤›à¤¨à¥', 'à¤›à¥', 'à¤›à¥‚', 'à¤›à¥ˆà¤¨', 'à¤›à¥Œà¤‚', 'à¤œà¤¤à¤¾à¤¤à¤¤à¥ˆ', 'à¤œà¤¬', 'à¤œà¤¬à¤•à¤¿', 'à¤œà¤¸à¤•à¥‹', 'à¤œà¤¸à¤¬à¤¾à¤Ÿ', 'à¤œà¤¸à¤®à¤¾', 'à¤œà¤¸à¤²à¤¾à¤ˆ', 'à¤œà¤¸à¤²à¥‡', 'à¤œà¤¸à¥à¤¤à¥ˆ', 'à¤œà¤¸à¥à¤¤à¥‹', 'à¤œà¤¸à¥à¤¤à¥‹à¤¸à¥à¤•à¥ˆ', 'à¤œà¤¹à¤¾à¤', 'à¤œà¤¾à¤¨', 'à¤œà¤¾à¤¹à¤¿à¤°', 'à¤œà¥à¤¨', 'à¤œà¥‡', 'à¤œà¥‹', 'à¤ à¥€à¤•', 'à¤¤', 'à¤¤à¤¤à¥à¤•à¤¾à¤²', 'à¤¤à¤¥à¤¾', 'à¤¤à¤¦à¤¨à¥à¤¸à¤¾à¤°', 'à¤¤à¤ªà¤¾à¤ˆ', 'à¤¤à¤ªà¤¾à¤ˆà¤•à¥‹', 'à¤¤à¤°', 'à¤¤à¤²', 'à¤¤à¤¾à¤ªà¤¨à¥€', 'à¤¤à¤¿à¤¨à¤¿à¤¹à¤°à¥à¤²à¤¾à¤ˆ', 'à¤¤à¤¿à¤¨à¥€', 'à¤¤à¤¿à¤¨à¥€à¤¹à¤°à¥à¤•à¥‹', 'à¤¤à¤¿à¤¨à¥€à¤¹à¤°à¥‚', 'à¤¤à¤¿à¤®à¥€', 'à¤¤à¤¿à¤°', 'à¤¤à¥€', 'à¤¤à¥€à¤¨', 'à¤¤à¥à¤°à¥à¤¨à¥à¤¤à¥ˆ', 'à¤¤à¥‡à¤¸à¥à¤•à¤¾à¤°à¤£', 'à¤¤à¥‡à¤¸à¥à¤°à¥‹', 'à¤¤à¥à¤¯à¤¹à¤¾à¤', 'à¤¤à¥à¤¯à¥‹', 'à¤¤à¥à¤¸à¤ªà¤›à¤¿', 'à¤¤à¥à¤¸à¥ˆà¤²à¥‡', 'à¤¥à¤¿à¤', 'à¤¥à¤¿à¤à¤¨', 'à¤¥à¤¿à¤¯à¥‹', 'à¤¦à¤¿à¤', 'à¤¦à¤¿à¤¨à¥à¤­à¤à¤•à¥‹', 'à¤¦à¤¿à¤¨à¥à¤¹à¥à¤¨à¥à¤›', 'à¤¦à¥à¤ˆ', 'à¤¦à¥‡à¤–à¤¿', 'à¤¦à¥‡à¤–à¤¿à¤¨à¥à¤›', 'à¤¦à¥‡à¤–à¤¿à¤¯à¥‹', 'à¤¦à¥‡à¤–à¥‡', 'à¤¦à¥‡à¤–à¥‡à¤•à¥‹', 'à¤¦à¥‡à¤–à¥‡à¤°', 'à¤¦à¥‹à¤¸à¥à¤°à¥‹', 'à¤§à¥‡à¤°à¥ˆ', 'à¤¨', 'à¤¨à¤œà¤¿à¤•à¥ˆ', 'à¤¨à¤¤à¥à¤°', 'à¤¨à¤¯à¤¾à¤', 'à¤¨à¤¿', 'à¤¨à¤¿à¤®à¥à¤¤à¤¿', 'à¤¨à¤¿à¤®à¥à¤¨', 'à¤¨à¤¿à¤®à¥à¤¨à¤¾à¤¨à¥à¤¸à¤¾à¤°', 'à¤¨à¤¿à¤°à¥à¤¦à¤¿à¤·à¥à¤Ÿ', 'à¤¨à¥ˆ', 'à¤¨à¥Œ', 'à¤ªà¤•à¥à¤•à¤¾', 'à¤ªà¤•à¥à¤•à¥ˆ', 'à¤ªà¤›à¤¿', 'à¤ªà¤›à¤¿à¤²à¥à¤²à¥‹', 'à¤ªà¤Ÿà¤•', 'à¤ªà¤¨à¤¿', 'à¤ªà¤°à¥à¤›', 'à¤ªà¤°à¥à¤¥à¥à¤¯à¥‹', 'à¤ªà¤°à¥à¤¯à¤¾à¤ªà¥à¤¤', 'à¤ªà¤¹à¤¿à¤²à¥‡', 'à¤ªà¤¹à¤¿à¤²à¥‹', 'à¤ªà¤¹à¤¿à¤²à¥à¤¯à¥ˆ', 'à¤ªà¤¾à¤à¤š', 'à¤ªà¤¾à¤à¤šà¥Œà¤‚', 'à¤ªà¥‚à¤°à¥à¤µ', 'à¤ªà¥à¤°à¤¤à¤¿', 'à¤ªà¥à¤°à¤¤à¥‡à¤•', 'à¤ªà¥à¤²à¤¸', 'à¤«à¥‡à¤°à¥€', 'à¤¬à¤¨à¥‡', 'à¤¬à¤°à¥', 'à¤¬à¤¾à¤°à¥‡', 'à¤¬à¤¾à¤¹à¤¿à¤°', 'à¤¬à¤¾à¤¹à¥‡à¤•', 'à¤¬à¤¿à¤°à¥à¤¦à¥à¤§', 'à¤¬à¤¿à¤¶à¥‡à¤·', 'à¤¬à¥€à¤š', 'à¤¬à¥€à¤šà¤®à¤¾', 'à¤­à¤', 'à¤­à¤à¤•à¥‹', 'à¤­à¤¨', 'à¤­à¤¨à¥‡', 'à¤­à¤¨à¥', 'à¤­à¤¨à¥à¤›à¤¨à¥', 'à¤­à¤¨à¥à¤›à¥', 'à¤­à¤¨à¥à¤¦à¤¾', 'à¤­à¤¨à¥à¤¨à¥à¤­à¤¯à¥‹', 'à¤­à¤¨à¥à¤¨à¥‡', 'à¤­à¤°', 'à¤­à¤¿à¤¤à¥à¤°', 'à¤­à¤¿à¤¤à¥à¤°à¥€', 'à¤®', 'à¤®à¤²à¤¾à¤ˆ', 'à¤®à¤¾', 'à¤®à¤¾à¤¤à¥à¤°', 'à¤®à¤¾à¤¥à¤¿', 'à¤®à¥à¤–à¥à¤¯', 'à¤®à¥‡à¤°à¥‹', 'à¤¯à¤¤à¤¿', 'à¤¯à¤¥à¥‹à¤šà¤¿à¤¤', 'à¤¯à¤¦à¤¿', 'à¤¯à¤¦à¥à¤¯à¤ªà¤¿', 'à¤¯à¤¸', 'à¤¯à¤¸à¤•à¥‹', 'à¤¯à¤¸à¤ªà¤›à¤¿', 'à¤¯à¤¸à¤¬à¤¾à¤¹à¥‡à¤•', 'à¤¯à¤¸à¤°à¥€', 'à¤¯à¤¸à¥‹', 'à¤¯à¤¸à¥à¤¤à¥‹', 'à¤¯à¤¹à¤¾à¤', 'à¤¯à¤¹à¤¾à¤à¤¸à¤®à¥à¤®', 'à¤¯à¤¾', 'à¤¯à¥€', 'à¤¯à¥‹', 'à¤°', 'à¤°à¤¹à¥€', 'à¤°à¤¹à¥‡à¤•à¤¾', 'à¤°à¤¹à¥‡à¤•à¥‹', 'à¤°à¤¾à¤–à¥‡', 'à¤°à¤¾à¤–à¥à¤›', 'à¤°à¤¾à¤®à¥à¤°à¥‹', 'à¤°à¥‚à¤ª', 'à¤²à¤—à¤­à¤—', 'à¤²à¤¾à¤ˆ', 'à¤²à¤¾à¤—à¤¿', 'à¤²à¥‡', 'à¤µà¤°à¥€à¤ªà¤°à¥€', 'à¤µà¤¾à¤¸à¥à¤¤à¤µà¤®à¤¾', 'à¤¶à¤¾à¤¯à¤¦', 'à¤¸à¤‚à¤—', 'à¤¸à¤‚à¤—à¥ˆ', 'à¤¸à¤•à¥à¤›', 'à¤¸à¤Ÿà¥à¤Ÿà¤¾', 'à¤¸à¤§à¥ˆ', 'à¤¸à¤¬à¥ˆ', 'à¤¸à¤¬à¥ˆà¤²à¤¾à¤ˆ', 'à¤¸à¤®à¤¯', 'à¤¸à¤®à¥à¤­à¤µ', 'à¤¸à¤®à¥à¤®', 'à¤¸à¤¹à¥€', 'à¤¸à¤¾à¤à¤šà¥à¤šà¥ˆ', 'à¤¸à¤¾à¤¤', 'à¤¸à¤¾à¤¥', 'à¤¸à¤¾à¤¥à¥ˆ', 'à¤¸à¤¾à¤¯à¤¦', 'à¤¸à¤¾à¤°à¤¾', 'à¤¸à¥‹', 'à¤¸à¥‹à¤¹à¥€', 'à¤¸à¥à¤ªà¤·à¥à¤Ÿ', 'à¤¹à¤°à¥‡', 'à¤¹à¤°à¥‡à¤•', 'à¤¹à¥à¤¨', 'à¤¹à¥à¤¨à¥‡', 'à¤¹à¥à¤¨à¥', 'à¤¹à¥à¤¨à¥à¤›', 'à¤¹à¥‹']